<!-- Image and text -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
      <img src="/img/logoPricefy.png" width="25" height="25" alt="logoPricefy" loading="lazy">
       Pricefy
       </a>

       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/">Vendas</a>
          <a class="nav-item nav-link" href="/clients/list">Clientes</a>
          <a class="nav-item nav-link" href="/products/list">Produtos</a>
        </div>
      </div>
    </nav>
      

  </nav>